/* normalize.css */
/* You need to provide the path to the actual normalize.css file or use a CDN link if not local */

/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {

    background-color: #333;
    color: white;
    padding: 1rem;
}

.nav-center {
    margin-left: 450px;
    margin-right: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

main {
    padding: 2rem;
}

form {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
}

h3 {
    text-align: center;
}

.form-row {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
}

button:hover {
    background-color: #555;
}
